<%# Standalone admin settings page. The same content also lives in the
    map page's left side panel via render "home/settings_panel". %>
<div class="container mx-auto max-w-xl">
  <%= render "home/settings_panel" %>
</div>
